# Entorno virtual
venv/

# Archivos de cache de Python
__pycache__/
*.pyc

# Configuración del entorno (variables locales)
.env

# Archivos temporales o de logs
*.log

# Configuración del editor
.vscode/
.idea/
