__pycache__/
*.py[cod]
*$py.class

# Virtual environments (TODAS las variantes)
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
*/venv/
*/.venv/

# Packaging / build
build/
dist/
wheels/
pip-wheel-metadata/
*.egg-info/
.eggs/
downloads/

# Testing
.pytest_cache/
coverage.xml
htmlcov/
.cache
.tox/
.nox/